<div class="verticalmenu">
  <div class="content site-nav--has-dropdown">
  <h4 class="title">{{settings.ver_title}}<i class="fa fa-angle-down"></i></h4>
  <ul class="menu site-nav__dropdown">
    {% capture collection_title %}{{ collection.title }}{% endcapture %}
    {% for collection in collections limit:6 %}
    <li {% if collection_title == collection.title %}class="filter--active" {% endif %}><a  href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a></li>
    {% endfor %}
  </ul>
  </div>
</div><!-- end category -->