<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by section.settings.nb_per_page %}




{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
 <header class="collection__info section-header">
<!--         <h1 class="section-header__title">{{ collection.title }}</h1>
 -->
      {% if collection.image %}
        <div class="collection__image" style="background-image: url({{ collection.image | img_url: 'master' }});"></div>
        {% endif %}
        <div class="rte rte--header space-10">
          {{ collection.description }}
        </div>
      </header>
<div class="grid--rev">
  <div class="grid__item large--three-quarters collection-grid">



      <div class="collection__sort section-header">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </div>

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>


      <div class="pagination">
{% if paginate.pages > 1 %}
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    {% endif %}
 </div>
  </div>

  <div class="sidebar grid__item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>
</div>

{% endpaginate %}
{% schema %}
{
    "name": "Collection page",
    "settings": [
      {
        "type": "text",
        "id": "nb_column",
        "label": "Grid item",
        "default": "3",
        "info": "ex:2,3,4,5,6"
      },
      {
        "type": "text",
        "id": "nb_per_page",
        "label": "Number Product Per Page",
        "default": "12"
      },
      {
        "type": "checkbox",
        "id": "product_show_swatch",
        "label": "Show product swatch ",
        "default": false
      }
    ]
  }
{% endschema %}
